.all-tours {
  padding: 0 8rem;
  text-align: center;
  margin-top: -2rem;

  @media only screen and (max-width: 56.25em) {
    padding: 0 2rem;
  }

  &__heading {
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &__tour-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media only screen and (max-width: 50em) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2rem;
    }

    @media only screen and (max-width: 34.375em) {
      grid-template-columns: 1fr;
      max-width: 40rem;
      margin: 0 auto;
    }
  }
}
