.login {
  width: 50%;
  background-color: white;
  border-radius: 5px;
  padding: 4.5rem;

  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__heading {
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 2.5rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.login__button {
  background-color: #55c57a !important;
  box-shadow: none !important;
  color: #fff !important;
  font-weight: 500 !important;
}
